<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <h1>Register user form</h1>
    <form class="tg" action="#" th:action="@{admin/register}"  th:object="${user}" method="post">
        <p>name: <input type="text" th:field="*{username}" required/></p>
        <p>password: <input type="text" th:field="*{password}" required/></p>
        <p>role: <input type="text" th:field="*{role}" required/></p>
        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
    </form>
</div>
</body>
</html>